@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

/* *{
    outline: 1px solid red;
} */

/* body {
    cursor: none !important;
} */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-spaceGrotesk: "Space Grotesk", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-elmSans: "Elm Sans", sans-serif;
    --font-ibmPlexMono: "IBM Plex Mono", sans-serif;
    /* --font-quicksand: "Quicksand", sans-serif; */

    --color-brand-lime: #a6ce39;
    --color-brand-light-lime: #d4eca1;
    --color-brand-navy: #0c3559;
    --color-brand-light-bg: #f8fafc;
    --color-brand-neutral-light: #e5eaf0;
    --color-brand-slate: #7a8a99;
    --color-brand-midnight: #071c33;
}
