@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

/* *{
    outline: 1px solid red;
} */

/* body {
    cursor: none !important;
} */
:root {
    --anim-duration: 5;
    --anim-speed: 0.65;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}
.polygon {
    clip-path: polygon(100% 0, 100% 85%, 10% 85%, 0 100%, 0 0);
}

.thin-cleaning-icon svg {
    stroke: currentColor;
    fill: none; /* removes thick fill */
    stroke-width: 1; /* make it thinner */
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-spaceGrotesk: "Space Grotesk", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-elmSans: "Elm Sans", sans-serif;
    --font-ibmPlexMono: "IBM Plex Mono", sans-serif;
    /* --font-quicksand: "Quicksand", sans-serif; */

    --color-brand-lime: #a6ce39;
    --color-brand-light-lime: #d4eca1;
    --color-brand-navy: #0c3559;
    --color-brand-light-bg: #f8fafc;
    --color-brand-neutral-light: #e5eaf0;
    --color-brand-slate: #7a8a99;
    --color-brand-midnight: #071c33;
    /* Dark Shades */
    --color-brand-dark-lime: #7ca32c;
    --color-brand-deep-navy: #072240;
    --color-brand-charcoal: #0e1a28;
    --color-brand-muted-slate: #4f5e6c;
    --color-brand-dark-olive: #5c7120;
}

.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 1.5s infinite linear; /* Animation */
}

@keyframes shine {
    0% {
        left: -100px;
    }
    20% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes slideFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animate-slideFadeUp {
    animation: 0.5s slideFadeUp 1.2s ease forwards;
}

/* delay utility */
.animation-delay-300 {
    animation-delay: 1.5s;
}

.split-line {
    display: block;
    overflow: hidden;
}
